body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;

}


/* header*/
header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e7e7e7;
  padding-left: 80px;
  padding-right: 80px;
  position:sticky;
  top: 0;
  z-index: 1000;
 
}

.logo img {
  height: 100px; /* Adjust the height as needed */
  border-radius: 50%;
}

.contact{
  display: flex;
  gap: 1rem;
}
.contact-me {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 0.5rem;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Add shadow */
}
.bxl-instagram-alt{
  background-color: #ffffff;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.09);
  margin-right: 8px; /* Space between icon and text */
}
.bxl-linkedin-square{
  background-color: #ffffff;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.09);
  margin-right: 8px; /* Space between icon and text */
}
.bxs-contact{
  background-color: #ffffff;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.09);
  margin-right: 8px; /* Space between icon and text */
  cursor: pointer;
}
.bxl-sketch{
  background-color: #ffffff;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.09);
  margin-right: 8px; /* Space between icon and text */
}
a{
  text-decoration: none;
}


.contact-me2{
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.00); 
  /* background-color: #ffffff; */
  align-items: center;
  padding: 4px;
}


/*slide contact div*/
.contact-form-container {
  position: fixed;
  top: 0;
  right: -100%; /* Initially hidden */
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.4s ease; /* Slide in effect */
  z-index: 1000;
  padding: 20px;
}

.contact-form-container.show {
  right: 0; /* Slide in from the right */
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.contact-form label {
  margin: 10px 0 5px;
  font-weight: bold;
  color: #555;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.contact-form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #0056b3;
}



/*auto type*/
.intro {
  margin: 20px;
  border-radius: 30px;
  font-size: 24px;
  background-color: #fcfcfc;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.08);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.intro p{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 50px;
  color: #778A99;
}

.intro-bar{
  width: 50%;
  border-radius: 30px;
  height: 50px;
  background-color: white;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
}

#auto-type {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #333;
  opacity: 0.4;
  font-weight: 400;
}












/* About section */
.about-me {
  display: flex;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  width: 100%;
  overflow: hidden;
}

.text-content {
  flex: 1;
  padding: 5px;
  padding-left: 100px;
  padding-top: 150px;
  color: #374957;
}

.text-content h1 {
  margin-top: 0;
  font-size: 30px;
}

.text-content p{
  font-size: 0.9em;
  width: 70%;
}

.image-content {
  display: flex;
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 50px;
  position: relative;
  
}

.profile-image {
  position: relative;
  max-width: 80%;
  height: auto;
  border-radius: 8px;
  padding-right: 90px;
  top: 25px;

}







/*projects section*/
.projects {
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 20px;
}

.projects h2 {
  margin-bottom: 20px;
  color: #374957;
  font-size: 40px;
  font-family:poppins, sans-serif;
}

.project-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-image-container {
  width: 300px;
  height: 280px;
  margin: 10px;
  border-radius: 8px;
  overflow: hidden; /* Ensure the image stays within the div */
  position: relative;
}

.project-image {
  width: 300px;
  height: 290px;
  object-fit:fill;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 2s ease, transform 9s ease, box-shadow 0.3s ease;
}

.project-image.show {
  opacity: 1;
  transform: translateY(0);
  animation: float 3s ease-in-out infinite;
}
.project-image-container:hover .project-image {
  scale: 1.1; /* Scale up on hover */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.9); /* Glowing light effect */
  transition: scale 0.8s ease, box-shadow 0.1s ease; /* Smooth scaling transition */
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}









/*project-code section*/
.bxl-codepen {
  font-size: 30px;
  margin: 10px;
}

.project-code{
  height: auto;
  display: flex;
  width: auto;
  margin: 60px;
  margin-bottom: 50px;
  border-radius: 20px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  position: relative;
  background-color: antiquewhite;
}
.wow{
  width: 70%;
  padding-left: 70px;
}

.block{
  width: 50%;
  border: 2px red solid;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.code{
  height: auto;
  width: 40%;
  padding-left: 70px;
  position: relative;
  bottom: 40px;
}
.codeimg{
  height: auto;
  width: 40%;
}

.code h1{
  font-size: 70px;
  font-family: poppins, sans-serif;
  color: #363636;
}






/*footer*/
.simple-footer {
  background-color: #333; /* Dark background color */
  color: #fff; /* White text color */
  text-align: center;
  padding: 7px 0;
  font-size: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.simple-footer p {
  margin: 0;
}

















/* Responsive adjustments */
@media (max-width: 768px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column; /* Stack header elements vertically */
  }

  .logo img {
    height: 60px;
  }

  .contact {
    justify-content: center;
    gap: 0.5rem;
  }

  .intro p {
    font-size: 35px;
  }

  .intro-bar {
    width: 90%; /* Adjusted width for smaller screens */
    height: 40px;
  }

  .about-me {
    display: flex; /* Stack the content vertically */
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .text-content {
    padding-left: 40px;
    padding-top: 0px;
  }
  .text-content p{
    font-size: 5px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    width: 80%;
  }
  .text-content h1{
    margin: 0%;
  }
  .image-content {
    justify-content: center;
    padding-top: 20px;
  }

  .profile-image {
    max-width: 100%;
    padding-right: 95px;
    top: 0;
  }

  .projects {
    margin: 10px;
  }

  .project-image-container {
    width: 100%; /* Full width for smaller screens */
    height: auto;
  }
  .project-image {
    width: 90%;
    height: auto;
  }

  .project-code{
    height: auto;
    display: flex;
    width: auto;
    margin: 20px;
    margin-bottom: 50px;
    border-radius: 20px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    position: relative;
    background-color: antiquewhite;
  }
  .bxl-codepen {
    font-size: 20px;
    margin: 2px;
  }

  .code {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    position: relative;
    top: -10px;
  }
  .code h1{
    font-size: 25px;
  }

  .codeimg {
    width: 100%;
    
  }
  .wow{
    width: 100px;
    padding-left: 10%;
  }
  .block{
    width: 70%;
    border: 2px red solid;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -10px;
    gap: 0.5rem;
  }


}


@media (max-width: 480px) {
  .contact-me {
    font-size: 14px; /* Slightly smaller font for very small screens */
  }

  .projects h2 {
    font-size: 30px;
  }

  .simple-footer {
    font-size: 8px;
    padding: 5px 0;
  }
}


@media (max-width: 768px) {
  .project-image-container {
    width: 48%; /* Maintain two images per row on medium screens */
    margin: 1%; 
  }
}

@media (max-width: 480px) {
  .project-image-container {
    width: 50%; /* Single image per row on smaller screens */
    margin: 0 0 10px 0; /* Add margin for spacing */
  }
}